<h1><%= current_user.name %>さんのプロフィール</h1>
<p>ユーザー用ページです。</p>
<div>
<table border="1">
  <tr>
    <th>ユーザー名</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
</table>
</div>

<%= link_to "TOPに戻る", "/" %>